<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    
    <%user.forEach((item)=>{%>
    <h1>Welcome, <%=item.name %></h1>
            <% item.skills.forEach((item)=>{ %>
                <ul>
                    <li><%=item%></li>
                </ul>

            <% }); %>
     <% }); %>


</body>
</html>